/*body#photo{
background-size: cover;
min-height: 100vh;
}*/


body {
    background-image: url('../img/pexels-brett-sayles-912364.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  input {
    text-align: center;
  }






.box-container{
width: 300px;
height: 300px;
display: flex;
flex-wrap: wrap;
}

.box{
width: 150px;
height: 150px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size:  1.5rem;
color: white;
}

#city{
background-color:rgba(41,128,185,0.75);
}

#temp{
    background-color:rgba(43,78,101,0.75);
    }
    
    #humidity{
        background-color:rgba(52,152,219,0.75);
        }

        #wind{
            background-color:rgba(143,146,154,0.75);

            }


            a[href^="https"]::before {
                content: "🔗 ";
              }
              
              
              
              li {
                margin-bottom: .5rem;
        color:yellow;
              }

              

              